<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="logo" class="b-logo col-xs-2">
        <img src="../../../assets/wt-white.png" alt="webtraining logo" class="img-responsive">
      </div>
      <div class="col-xs-8">
        <nav class="b-main-navigation">
          <div class="b-main-footer__container">
            <p class="b-main-footer__text">Creado con mucho entusiasmo por Webtraning.Zone</p>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
